    <div class="columns is-multiline mt-2">
        {% for p in list_products %}
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <a href="{% url 'product_detail' p.category.slug p.slug %}">
                                <img src="{{ p.thumbnail.url }}">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="p-0 m-0">{{ p.title }}</p>
                             </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
