{% extends 'base.html' %}

{% block title %} {{category.title}} - {% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="categoryTitle">
            <h1>{{ category.title|upper }}</h1>
        </div>
        <div class="columns is-multiline">
            {% for product in products %}
                <div class="column is-3">
                    <div id="card" class="card">
                        <div class="card-image">
                            <figure class="">
                                <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="has-text-centered m-0 p-0">{{ product.title }}</p>
                                    <p class="has-text-centered m-0 p-0" style="color: #AAA">R$ {{ product.price|floatformat:0 }},00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
