{% extends 'base.html' %}

{% block title %} Procurar - {% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Procurar</h1>
        <form action="{% url 'search' %}" method="get">
            <nav class="navbar navbar-menu is-white">
                <div class="navbar-start">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="query" value="{{ query|title }}" placeholder="Procurar por {{ query }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="button" style="border: none; cursor: default">
                            <label class="mr-1">Em estoque: </label>
                            <div class="control">
                                <input type="checkbox" name="instock" {% if instock %}checked="checked"{% endif %}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">

                    <div class="control">
                        <div class="select">
                            <select class="sorting" name="sorting">
                                <option value="-date_added"{% if sorting == '-date_added' %} selected{% endif %}>Recentes</option>
                                <option value="price"{% if sorting == 'price' %} selected{% endif %}>Preço crescente</option>
                                <option value="-price"{% if sorting == '-price' %} selected{% endif %}>Preço decrescente</option>

                            </select>
                        </div>
                        <button class="button is-success" name="button">Procurar</button>
                    </div>
                </div>
            </nav>
        </form>

        <div class="columns is-multiline mt-2">
            {% for product in products %}
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-5"> {{ product.title }} </p>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>
{% endblock %}
