{% extends 'base.html' %}

{% block title %}Obrigado! - {% endblock %}

{% block content %}
<section id="login" class="section">
    <div class="contentBox">
        <div class="formBox">
            <h1>Obrigado</h1>
            <p class="m-0 pt-2 pb-0">Seu pedido foi realizado com sucesso!</p>
            <p class="m-0 pt-2 pb-0">Em breve você receberá um e-mail com o resumo de seu pedido.</p>
            <p class="mt-0 mb-6 pt-2 pb-0">Qualquer dúvida, por favor entre em contato.</p>

            <p class="m-0 p-0"><strong style="color: #AAA">Due Gatti</strong></p>
            <p class="m-0 pt-2 pb-0">Celular: (51) 99133-1000</p>
            <p class="m-0 pt-2">E-mail: duegattigc@gmail.com</p>

        </div>
    </div>
    <div class="imgBox">
        <img src="/media/frontpage/products/11.png" alt="Welcome">
    </div>
</section>
{% endblock %}
